/*This is styling for the page body*/
body {
    font-family: Verdana, Arial, sans-serif;
}

/*This is styling for data cells(td elements). Took reference from chatgpt for border bottom*/
td {
    padding: 6px;
    border-bottom: 1px solid gray;
}

/*This is styling for data cells(td elements).*/
th {
    background-color: #b7d0ff;
    font: bold;
    padding: 12px 0px 12px 6px;
    border-bottom: 2px solid gray;
}

/*This is styling for data cells(td elements).*/
table {
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    table-layout: fixed;
    width: 100%;
}

.center {
    margin: auto;
    padding: 60px;
    width: 60%;
}

h1 {
    text-align: center;
}

/*Reference from chatgpt*/
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}